.header-div {
    position: absolute;
    z-index: 2;
    background-color: white;
}

.suggestion:hover {
    background-color: darkgrey;
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.colored:hover {
    color: #a7f75c !important;
    transition: 150ms;
}