.monster-green:hover {
    color: #a7f75c;
    transition: 150ms;
    cursor: pointer;
}

.delete-button:hover {
    color: #d64c33;
    cursor: pointer;
}

.delete-button {
    transition: 0.1s all ease-in-out;
}

.favorites-section-header {
    margin-bottom: 5px;
    border-bottom: 2px solid gray;
    width: 50%;
    box-shadow: 0 8px 6px -6px;
    margin: auto;
    margin-bottom: 5px;
}

.rank-button {
    font-size: 1.25em;
}

.favorites-list {
    width: 50% !important;
}

.center {
    margin: auto;
}

.text-centered {
    text-align: center;
}

.inline-buttons {
    white-space: nowrap;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.add-button {
    font-size: 1.5em;
    color: #5cb85c;
}

.disabled {
    color: 	#BEBEBE;
}

.add-button-disabled {
    font-size: 1.5em;
}

.search-bar {
    width: 50% !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.delete-button {
    font-size: 1.25em;
}

.control-col {
    width: 75px
}

.invisible {
    visibility: hidden;
}

.add-button:hover {
    color: #a7f75c;
    transition: 150ms;
    cursor: pointer;
}