.preview {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
}

.icon-image {
    max-height: 150px;
    max-width: 150px;
    width: 100%;
    object-fit: contain;
    height: auto;
    box-shadow: 0 20px 10px -10px gray;
}

.link {
    text-decoration: underline;
}

.link:hover {
    cursor: pointer;
    color: #a7f75c;
    transition: 100ms;
}

.section-header {
    margin-bottom: 5px;
    border-bottom: 2px solid gray;
    box-shadow: 0 8px 6px -6px;
    display: flex;
    justify-content: space-between;
}

.header-underline {
    margin-bottom: 5px;
    border-bottom: 2px solid gray;
    box-shadow: 0 8px 6px -6px;
}

.inverse-shadow {
    box-shadow: inset 0 0 10px #f8a100 !important;
}

.inline {
    display: inline;
}

.movie-link {
    color: inherit;
    text-decoration: none;
}

.movie-link:hover {
    color: #93e645;
    transition: 150ms;
}

.settings-link {
    text-decoration: none;
}

.settings-link:hover {
    cursor: pointer;
    color: #a7f75c;
    transition: 100ms;
}

.right-align {
    float: right;
}
