.icon-image {
    width: 200px;
    height: 200px;
}

.modal-90w {
    max-width: 60% !important;
}

.user-loaded-image-container {
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
}

.user-loaded-image {
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
}

.centered-container {
    display: flex;
    justify-content: center;
}
