.validation-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  width: 100vw;
  min-height: 100vh;

  padding: 20px;

  background-image: url('../Assets/login-background-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


.divider {
    width: 1px;
  background-color: #ccc;
  height: auto;
  align-self: stretch;
}

.logo-img {
    max-width: 400px;
    max-height: 400px;
    width: auto;
    height: auto;
    margin-bottom: -100px;
    margin-top: -50px;
}