.validation-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../Assets/login-background-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.divider {
    width: 1px;
  background-color: #ccc;
  height: auto;
  align-self: stretch;
}