.click-text:hover {
    color: #a7f75c;
    cursor: pointer;
}

.delete-button:hover {
    color: #d64c33;
    cursor: pointer;
}

.click-text {
    transition: 0.1s all ease-in-out;
}

.delete-button {
    transition: 0.1s all ease-in-out;
}

.list-container {
    display: flex;
    justify-content: center;
}

.list {
    margin-top: 10px;
    width: 75%;
}