.friend-element {
    border-bottom: solid #ded2d1 1px;
}
.friend-padding {
    padding-top: 5px;
    padding-bottom: 5px;
}

.friend-tabs {
    margin-top: 20px;
}

.space-between-container {
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}

.friend-pic {
    margin-right: 10px;
}

.mr-5 {
    margin-right: 5px;
}

.friend-content-size {
    width: 75%;
}
@media (min-width: 768px) {
    .friend-content-size {
        width: 50%;
    }
}